/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
h1 {
  /* font-size: 2.5em; */
  /* font-size: 36px; */
  font-weight: bold;
}

/* Navbar */
.navbar {
  background-color: #16151d;
}
.nav-link {
  color: #fff;
  font-weight: bold;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}

/* Header */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 600px;
  text-align: center;
}

.foto {
  border-radius: 50%;
  max-width: 25%;
  height: auto;
  margin-bottom: 10px;
}

.link-nav {
  list-style: none;
  display: inline;
  font-size: 30px;
  margin-right: 10px;
}

/* footer */
.footer {
  background-color: #282828;
}

.text-muted {
  color: #fff !important;
}

.link-footer {
  font-size: 24px;
}

/* other */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
